<div ng-include="'components/navbar/navbar.html'"></div>

<div class="row">
<!--  <div class="progress">
      <div class="indeterminate"></div>
  </div> -->

  <!-- anything typed in here is magically saved to Firebase! -->
  <!-- <input type="text" ng-model="data.text"/> -->
  <!-- all changes from Firebase magically appear here! -->
  <!--   <h1>You said: {{ users.fName }}</h1> -->

  <ul>
  	<li ng-repeat="user in users">{{ user.fName }}</li>
  </ul>
  <div class="col s12 m12 l12">
  	<!-- Promo Content 1 goes here -->
  	<div class="card">
  		<div class="card-image waves-effect waves-block waves-light">
  			<img class="activator" src="../../assets/images/shop4.jpg">
  		</div>
  		<div class="card-content">
  			<span class="card-title activator grey-text text-darken-4">The Beast <i class="fa fa-ellipsis-v pull-right"></i></span>
  			<p><a href="#" class="blue-text text-darken-2">500 meters   <i class="fa fa-map-marker fa-2x"></i></a></p>
				<!-- <span class="card-title activator grey-text text-darken-4">The Beast<i class="fa fa-ellipsis-v pull-right"></i></span>
				<p><a href="#" class="blue-text text-darken-2">500 meters <i class="fa fa-map-marker fa-2x"></i></a></p> -->
			</div>
			<div class="card-reveal">
				<!-- <span class="card-title grey-text text-darken-4">Bridge Cafe<i class="fa fa-times pull-right"></i></span> -->
				<span class="card-title grey-text text-darken-4">The Beast - Cafe, Bar  Restaurant    <i class="fa fa-times pull-right"></i></span>
				<p>17 Jalan Klapa, 199329</p>
				<!-- <a class="waves-effect waves-light btn"><img src="https://www.google.co.uk/images/srpr/logo3w.png"  height="40" /></a> -->
				<span> <a class="btn-floating btn-large waves-effect waves-light red"  ng-init="hide_message=false" ng-click="makeOrder('Hot Mocha', 'The Beast', 'hide_message')"><img src="../../assets/images/hot.png"  height="50" /></a></span>
				<span> <a class="btn-floating btn-large waves-effect waves-light blue" ng-init="hide_message=false"><img src="../../assets/images/cold.png"  height="50" ng-click="makeOrder('Cold latte', 'The Beast', 'hide_message')"/></a></span>
				<br />
				<span ng-init="hide_message=false" ng-model="hide_message" ng-click="successMsg(hide_message)" ng-show="hide_message">You order has made successfully.</span>
			</div>
		</div>
	</div>
	<div class="col s12 m12 l12">
		<!-- Promo Content 2 goes here -->
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="../../assets/images/shop3.jpg">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">Bridge Cafe <i class="fa fa-ellipsis-v pull-right"></i></span>
				<p><a href="#" class="blue-text text-darken-2">900 meters <i class="fa fa-map-marker fa-2x"></i></a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">Bridge Cafe<i class="fa fa-times pull-right"></i></span>
				<p>674 North Bridge Road #01-01, off Haji Lane. Singapore.</p>

				<span> <a class="btn-floating btn-large waves-effect waves-light red" ng-init="hide_message1=false"><img src="../../assets/images/hot.png"  height="50"  ng-click="makeOrder('Hot Cappuccino', 'The Beast', 'hide_message1')"/></a></span>
				<span> <a class="btn-floating btn-large waves-effect waves-light blue" ng-init="hide_message1=false"><img src="../../assets/images/cold.png"  height="50" ng-click="makeOrder('Cold Cappuccino', 'The Beast', 'hide_message1')"/></a></span>
				<br  />
				<span ng-init="hide_message=false" ng-model="hide_message" ng-click="successMsg(hide_message1)" ng-show="hide_message1">You order has made successfully.</span>

			</div>
		</div>
	</div>
	<div class="col s12 m12 l12">
		<!-- Promo Content 3 goes here -->
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="../../assets/images/shop2.jpg">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">Kofu <i class="fa fa-ellipsis-v pull-right"></i></span>
				<p><a href="#" class="blue-text text-darken-2">1.3 km<i class="fa fa-map-marker fa-2x"></i></a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">Kofu @ UOB<i class="fa fa-times pull-right"></i></span>
				<p> UOB ATM - StamfoRoad Road, Singapore 178901</p>

				<span> <a class="btn-floating btn-large waves-effect waves-light red"><img src="../../assets/images/hot.png"  height="50" /></a></span>
				<span> <a class="btn-floating btn-large waves-effect waves-light blue"><img src="../../assets/images/cold.png"  height="50" /></a></span>
			</div>
		</div>
	</div>
	<div class="col s12 m12 l12">
		<!-- Promo Content 3 goes here -->
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="../../assets/images/shop1.jpg">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">Nanyang Cafe <i class="fa fa-ellipsis-v pull-right"></i></span>
				<p><a href="#" class="blue-text text-darken-2">900 meters <i class="fa fa-map-marker fa-2x"></i></a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">Nanyang Cafe<i class="fa fa-times pull-right"></i></span>
				<p>Address: 114 Tanjong Pagar Road Singapore 6226 2657</p>

				<span> <a class="btn-floating btn-large waves-effect waves-light red"><img src="../../assets/images/hot.png"  height="50" /></a></span>
				<span> <a class="btn-floating btn-large waves-effect waves-light blue"><img src="../../assets/images/cold.png"  height="50" /></a></span>
			</div>
		</div>
	</div>
</div>


<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer> -->
